/* 3131B Grigoras Emanuel, Ciprian Iacob, Iriciuc Andrei, Ilciuc Sergiu */

/* You can add global styles to this file, and also import other style files */
body {
  font-family: sans-serif;
}

html,
body {
  background-color: rgb(77, 149, 194);
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #3fb53f;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.canvas-container {
  background-color: rgb(255, 255, 255);
  width: 600px;
  height: 600px;
  border: 2px solid black;
}

.detected-objects {
  border: 2px solid darkblue;
  width: 300px;
  font-size: 20px;
  font-family: sans-serif;
  text-transform: capitalize;
  background-color: lightgray;

}

.detected-object {
  background-color: green;
  color: white;
  margin: 3px;

}

.score-threshold {
  max-width: 300px;
  border: 2px solid darkblue;
  padding: 50px;
  background-color: lightgray;
}

.load-models {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.load-models button{
  margin: 5px 0;
  padding: 15px 32px;
  background-color: lightgreen;
  font-size:15px;
 }

 #title {
    font-size: 30pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color:Linen;
}
